{% extends 'predictor/base.html' %}
{% load static %}
{% block title %}Prediction | Cholangiocarcinoma Predictor{% endblock %}
{% block content %}
<input type="hidden" id="csrfTokenHolder" value="{{ csrf_token }}">
<section class="card react-card">
    <div class="medical-animation compact" aria-hidden="true">
        <div class="pulse-ring"></div>
        <div class="pulse-ring delay"></div>
        <div class="heart-core">+</div>
        <svg class="ecg-line" viewBox="0 0 420 120" preserveAspectRatio="none">
            <path d="M0 68 L70 68 L90 46 L112 92 L138 24 L168 80 L190 62 L230 62 L250 46 L272 88 L300 32 L330 72 L420 72"></path>
        </svg>
        <div class="floating-dot d1"></div>
        <div class="floating-dot d2"></div>
        <div class="floating-dot d3"></div>
    </div>
    <div id="predictApp"></div>
</section>
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel" src="{% static 'js/predict-app.js' %}"></script>
{% endblock %}
